.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.label,
.button {
  margin-right: 0.5rem;
}

.inputContainer {
  margin-bottom: 1rem;
  display: flex;
  width: 350px;
  padding: 16px;
  font-size: 16px;
}

#hl {
  display: flex;
  border-bottom: 1px solid black;
  padding-bottom: 25px;
}

button {
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
  width: 350px;
  color: white;
  background-color: #6557f5;
  font-size: 18px;
}

body {
  background-color: #EEEEEE;
}

#email, #password {
  width: 350px;
  height: 25px;
  position: relative;
  top: -75px;
  border-radius: 7px;
  border: 1px solid #292934;
}

#email {
  top: -100px;
}

.pTag{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
  top: -175px;

}