.btn {
  width: 350px;
  margin: 10px;
  font-family: 'Signika Negative', sans-serif;
}
#sign-in {
  position: relative;
  top: -80px;
  background-color:#1c658c;
}

#sign-up {
  position: relative;
  top: -80px;
  color: #1c658c;
}

#sign-btns {
  position: relative;
  bottom: 40px;
}

#landing-form {
  height: 0px;
}


#sign-up:hover, #sign-in:hover {
  transform: scale(1.1);
}

#sign-up:hover {
  background-color: #1c658c;
  color: white;
}

.pTag {
  position: relative;
  top: -100px;
}

img#img-landing {
  position: relative;
  top: -70px;
}

.landing-form, .landing-label {
  position: relative;
  top: -155px;
  font-family: 'Signika Negative', sans-serif;
}

.sign-in-header, .muted-landing {
  position: relative;
  top: -60px;
  text-align: center;
  font-family: 'Signika Negative', sans-serif;
}