div#uni-change-acc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #0d6efd;
}

hr.solid {
  border-top: 2px solid black;
}

#details-name {
  text-align: center;
  color: #1c658c;
  font-family: 'Signika Negative', sans-serif;
}

#rr-distance {
  color: black;
}

#no-reviews {
  height: 22vh;
}

#uni-change-acc > i {
  font-size: 2.0rem;
}

#rr-street {
  margin-top: 15px;
}