#review-form-specific {
  margin-left: 0px;
  margin-top: 20px;
}

#review-form label {
  position: relative;
  bottom: 8px;
}

#review-form .input-group-text {
  position: relative;
  bottom: 0;
} 

.btn.btn-sm.btn-danger {
  width: 75%;
  height: 50%;
}