#home-card {
  width: 85%;
  height: fit-content;
  text-align: center;
  position: relative;
  margin: 0 auto;
  font-family: 'Signika Negative', sans-serif;
}

div.card-body {
  background-color: #EEEEEE;
}

img.card-img-top {
  border-radius: 20px;
  background-color: #EEEEEE;
  height: 50vw;
  object-fit: cover;
}

.card {
  background-color: #EEEEEE;
  border: #EEEEEE;
} 

body {
  background-color: #EEEEEE;
}

#link {
  color: #1c658c;
}

a:link {
  text-decoration: none;
}

i#top-icon.material-icons{
  color: #1c658c;
  font-size: 30px;
}

nav#top-nav-no-search.navbar {
  border-bottom: 1px solid black;
  height: 50px;
  margin-bottom: 5px;
  width: 100%;
}

button#dropdownMenu2.btn.btn-secondary.dropdown-toggle {
  /* background-color: #EEEEEE; */
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: 0 auto;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

button#dropdownMenu2.btn.btn-secondary.dropdown-toggle:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

button#dropdownMenu2.btn.btn-secondary.dropdown-toggle::after {
  color: #EEEEEE;
}

button#geo-btn {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  margin-right: 6px;
}

#spinner {
  color: #1c658c;
}