.top-search-icon {
  font-size: 30px;
  color: #1c658c;
}

input.form-control.me-2 {
  width: 70%;
  margin-top: 10px;
}

button.btn.btn-outline-success {
  width: 25%;
}

button.navbar-toggler:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}