.user-review {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

hr.solid {
  border-top: 2px solid black;
}

div#details-price-distance {
  width: 98%;
  display: flex;
  justify-content: space-between;
}

#details-price {
  color: green;
  font-size: 25px;
}

#details-location-phone {
  text-align: center;
  font-size: 20px;
  margin-top: -30px;
}

#rest-img {
  border-radius: 7px;
  height: 50vw;
  object-fit: cover;
  margin: auto;
}

#details-name {
  text-align: center;
  color: #1c658c;
  font-family: 'Signika Negative', sans-serif;
}

#name-pic-rating{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#yelp-logo {
  height: 3.5vh;
  object-fit: cover;
  margin: auto;
  display: block;
}